---
import type { ContactLink } from '../../types/components-landing';

import { Icon } from 'astro-icon/components';

import LandingBlock from '@components/landing/LandingBlock.astro';

const links: Array<ContactLink> = [
  {
    url: 'https://www.linkedin.com/in/benjaminrmatthews/',
    description: 'Benjamin Matthews LinkedIn',
    icon: 'mdi:linkedin',
    name: 'LinkedIn',
    classList: [],
  },
  {
    url: 'https://github.com/bmatt468',
    description: 'Benjamin Matthews GitHub',
    icon: 'mdi:github',
    name: 'GitHub',
    classList: [],
  },
  {
    url: 'bmatt468.github.io',
    description: 'Benjamin Matthews Portfolio Source Code',
    icon: 'logos/logo',
    name: 'Source',
    classList: [],
  },
];
---

<LandingBlock classes={['landing-contact']}>
  <div
    class="bg-base-100 dark:bg-puerto-rico-900 dark:border-puerto-rico-950 mx-auto max-w-3xl rounded-md p-6 text-center shadow-xl dark:border"
  >
    <div class="mb-4 text-center md:mx-auto md:mb-6">
      <p class="text-accent text-base font-bold tracking-wide uppercase">
        Contact
      </p>

      <h2 class="text-heading font-heading text-2xl font-bold sm:text-3xl">
        Want to learn more about me?
      </h2>

      <p class="text-muted mt-2">
        Feel free to connect! I look forward to hearing from you!
      </p>
    </div>

    <div
      class="m-auto grid max-w-sm grid-rows-1 gap-2 sm:max-w-md sm:grid-cols-3 sm:gap-4"
    >
      {
        links.map((link) => (
          <a
            href={link.url}
            target="_blank"
            class:list={['btn btn-outline w-full items-center', link.classList]}
          >
            <span class="sr-only">{link.description}</span>
            <Icon
              class="size-8"
              name={link.icon}
            />
            <span class="size-4 flex-grow leading-none font-normal">
              {link.name}
            </span>
          </a>
        ))
      }
    </div>
  </div>
</LandingBlock>
