---
export interface Props {
  id: string;
  linkId?: string;
  classes?: string;
}

const { id, linkId, classes, ...rest } = Astro.props;
---

{linkId && <span id={linkId} />}
<section
  class:list={[
    'landing-box flex min-h-svh items-center justify-center overflow-hidden p-2',
    classes,
  ]}
  id={id}
  {...rest}
>
  <slot />
</section>
