---
import LandingProgressItem from './LandingProgressItem.astro';
---

<nav
  aria-label="Sections"
  id="hero-links"
  class="fixed top-0 z-50 w-full background-colorable"
>
  <ol
    role="list"
    class="divide-gray-300 rounded-b-md border border-gray-300 flex divide-x overflow-hidden"
  >
    <LandingProgressItem name="Resume" />
    <LandingProgressItem name="About" />
    <LandingProgressItem name="Skills" />
    <LandingProgressItem name="Experience" />
    <LandingProgressItem name="Projects" />
    <LandingProgressItem name="Contact" />
  </ol>
</nav>
