---
import LandingProgressItem from './LandingProgressItem.astro';
---

<nav
  aria-label="Sections"
  id="hero-links"
  class="background-colorable fixed top-0 z-50 w-full"
>
  <ol
    role="list"
    class="flex divide-x divide-gray-300 overflow-hidden rounded-b-md border border-gray-300"
  >
    <LandingProgressItem name="Resume" />
    <LandingProgressItem name="About" />
    <LandingProgressItem name="Skills" />
    <LandingProgressItem name="Experience" />
    <LandingProgressItem name="Projects" />
    <LandingProgressItem name="Contact" />
  </ol>
</nav>
