---
import LandingProgressItem from './LandingProgressItem.astro';
---

<nav
  aria-label="Sections"
  id="hero-links"
  class="fixed top-0 w-full"
  data-speed=""
>
  <ol
    role="list"
    class="divide-y divide-gray-300 rounded-md border border-gray-300 md:flex md:divide-x md:divide-y-0"
  >
    <LandingProgressItem name="Resume" />
    <LandingProgressItem name="About" />
    <LandingProgressItem name="Skills" />
    <LandingProgressItem name="Experience" />
    <LandingProgressItem name="Projects" />
    <LandingProgressItem name="Contact" />
  </ol>
</nav>
