---
export interface Props {
  id: string;
  linkId?: string;
  classes?: string;
}

const { id, linkId, classes, ...rest } = Astro.props;
---

{linkId && <span id={linkId} />}
<section
  class="landing-box flex min-h-screen items-center justify-center p-2"
  id={id}
  {...rest}
>
  <slot />
</section>
