---
import type {ComponentsUiContentSection} from "../../types/components-ui";
import ContentSection from "../ui/ContentSection.astro";
export interface Props extends ComponentsUiContentSection {
  title: string,
  calloutText: string,
}

const { classes, id, title, calloutText } = Astro.props;
---

<ContentSection
  id={id}
  class:list={[classes]}
>
  <!--<p>{title}</p>-->
  <!--<h2>{calloutText}</h2>-->
  <slot />
</ContentSection>
