@import 'tailwindcss';
@import './colors.css';
@import './landing.css';
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@theme inline {
  --color-bg-opt-one: var(--color-jellybean);
}

/*Light Theme*/
@plugin "daisyui/theme" {
  name: 'light';

  --color-primary: var(--color-puerto-rico);
  --color-primary-content: var(--color-puerto-rico-800);

  --color-secondary: var(--color-bismark);
  --color-secondary-content: var(--color-bismark-50);

  --color-accent: var(--color-shakespeare);
  --color-accent-content: var(--color-shakespeare-950);

  --color-base-100: var(--color-abbey-50);
  --color-base-200: var(--color-abbey-100);
  --color-base-300: var(--color-abbey-200);
  --color-base-content: var(--color-abbey-1000);

  --color-neutral: var(--color-abbey-1100);
  --color-neutral-content: var(--color-abbey-400);
}

/* Dark Theme*/
@plugin "daisyui/theme" {
  name: 'dark';

  --color-primary: var(--color-puerto-rico);
  --color-primary-content: var(--color-puerto-rico-700);

  --color-secondary: var(--color-bismark);
  --color-secondary-content: var(--color-bismark-300);

  --color-accent: var(--color-shakespeare);
  --color-accent-content: var(--color-shakespeare-700);

  --color-base-100: var(--color-abbey-950);
  --color-base-200: var(--color-abbey-1000);
  --color-base-300: var(--color-abbey-1050);
  --color-base-content: var(--color-abbey-50);

  --color-neutral: var(--color-abbey-1100);
  --color-neutral-content: var(--color-abbey-400);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/*[data-icon="logos/logo"] path {*/
/*  color: red;*/
/*  stroke: red;*/
/*}*/
