@import 'tailwindcss';
@import './colors.css';
@import './landing.css';
@import './icons.css';
@import './blog.css';
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: InterVariable, sans-serif;
  --breakpoint-xs: 30rem;

  --color-abbey: oklch(0.431 0.017 248.21);
  --color-abbey-light: oklch(0.631 0.017 248.21);
  --color-abbey-dark: oklch(0.231 0.017 248.21);
  --color-abbey-white: oklch(0.928 0.005 214.329);
  --color-abbey-black: oklch(0.2 0.009 248.183);

  --color-bismark: oklch(0.493 0.061 223.7);
  --color-bismark-light: oklch(0.693 0.061 223.7);
  --color-bismark-dark: oklch(0.3265 0.061 223.7);

  --color-jellybean: oklch(0.56 0.092 223.095);
  --color-jellybean-light: oklch(0.76 0.092 223.095);
  --color-jellybean-dark: oklch(0.4942 0.092 223.095);

  --color-shakespeare: oklch(0.703 0.1347 226.29);
  --color-shakespeare-light: oklch(0.797 0.1347 226.29);
  --color-shakespeare-dark: oklch(0.5407 0.1097 231.55);

  --color-java: oklch(0.744 0.123 199.576);
  --color-java-light: oklch(0.844 0.123 199.576);
  --color-java-dark: oklch(0.544 0.123 199.576);

  --color-puerto-rico: oklch(0.769 0.138 176.846);
  --color-puerto-rico-light: oklch(0.869 0.138 176.846);
  --color-puerto-rico-dark: oklch(0.669 0.1197 182.11);

  --color-primary: var(--color-abbey-white);

  --color-secondary: var(--color-puerto-rico);
  --color-secondary-light: var(--color-puerto-rico-light);
  --color-secondary-dark: var(--color-puerto-rico-dark);

  --color-tertiary: var(--color-jellybean);
  --color-tertiary-light: var(--color-jellybean-light);
  --color-tertiary-dark: var(--color-jellybean-dark);

  --color-dark-primary: var(--color-abbey-black);
  --color-dark-secondary: var(--color-abbey-dark);

  --logo-stroke-b: var(--color-primary);
  --logo-stroke-m: var(--color-secondary);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer components {
  .swap {
    @apply relative inline-grid cursor-pointer place-content-center align-middle select-none;

    input {
      @apply appearance-none border-none;
    }

    > * {
      @apply col-start-1 row-start-1 transition-all duration-200 ease-in-out;
    }

    .swap-on,
    .swap-indeterminate,
    input:indeterminate ~ .swap-on {
      @apply opacity-0;
    }

    input:is(:checked, :indeterminate) {
      & ~ .swap-off {
        @apply opacity-0;
      }
    }

    input:checked ~ .swap-on,
    input:indeterminate ~ .swap-indeterminate {
      @apply opacity-100 backface-visible;
    }
  }

  .swap-rotate {
    .swap-on,
    input:indeterminate ~ .swap-on {
      @apply rotate-45;
    }
    input:is(:checked, :indeterminate) ~ .swap-on,
    &.swap-active .swap-on {
      @apply rotate-0;
    }
    input:is(:checked, :indeterminate) ~ .swap-off,
    &.swap-active .swap-off {
      @apply -rotate-45;
    }
  }
}
