[data-theme='light'] {
  --color-primary: theme('colors.puerto-rico.400');
  --color-secondary: theme('colors.bismark.600');
  --color-text: theme('colors.abbey.950');
  --color-text-offset: theme('colors.abbey.600');
  --color-background: theme('colors.abbey.50');
  --color-background-offset: theme('colors.abbey.100');
  --color-border: theme('colors.abbey.950' / 10%);
}

[data-theme='dark'] {
  --color-primary: theme('colors.puerto-rico.400');
  --color-secondary: theme('colors.bismark.400');
  --color-text: theme('colors.abbey.50');
  --color-text-offset: theme('colors.abbey.400');
  --color-background: theme('colors.abbey.950');
  --color-background-offset: theme('colors.abbey.800');
  --color-border: theme('colors.gray.50' / 10%);
}
