---
import { Icon } from 'astro-icon/components';
---

<div class="h-full">
  <div
    id="about-content-passions"
    class="grid grid-cols-2 gap-2 p-4 sm:grid-cols-3 sm:gap-4"
  >
    <div class="about-content-passions-card">
      <p>Backend</p>
      <div>
        <span>
          <Icon name="skill-icons:php-light" />
        </span>
        <span>
          <Icon name="skill-icons:javascript" />
        </span>
        <span>
          <Icon name="skill-icons:typescript" />
        </span>
      </div>
    </div>
    <div class="about-content-passions-card">
      <p>Frontend</p>
      <div>
        <span>
          <Icon name="skill-icons:react-light" />
        </span>
        <span>
          <Icon name="skill-icons:vuejs-light" />
        </span>
        <span class="bg-primary text-tertiary rounded-lg">
          <Icon name="mdi:tailwind" />
        </span>
      </div>
    </div>
    <div class="about-content-passions-card">
      <p>Frameworks</p>
      <div>
        <span>
          <Icon name="skill-icons:laravel-light" />
        </span>
        <span class="bg-primary rounded-lg">
          <Icon name="skill-icons:astro" />
        </span>
        <span>
          <Icon name="skill-icons:wordpress" />
        </span>
      </div>
    </div>
    <div class="about-content-passions-card">
      <p>Data</p>
      <div>
        <span>
          <Icon name="skill-icons:mysql-light" />
        </span>
        <span>
          <Icon name="skill-icons:dynamodb-light" />
        </span>
        <span>
          <Icon name="skill-icons:redis-light" />
        </span>
      </div>
    </div>
    <div class="about-content-passions-card">
      <p>Cloud</p>
      <div>
        <span>
          <Icon name="skill-icons:aws-light" />
        </span>
        <span>
          <Icon name="skill-icons:terraform-light" />
        </span>
        <span>
          <Icon name="skill-icons:jenkins-light" />
        </span>
      </div>
    </div>
    <div class="about-content-passions-card">
      <p>Hobbyist</p>
      <div>
        <span>
          <Icon name="skill-icons:golang" />
        </span>
        <span class="bg-primary text-dark-secondary rounded-lg">
          <Icon name="mdi:language-python" />
        </span>
        <span>
          <Icon name="skill-icons:cs" />
        </span>
      </div>
    </div>
  </div>
</div>
