---
import Logo from '@assets/logos/logo.svg';
import LogoBuildGsap from '@components/common/LogoBuildGsap.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout>
  <LogoBuildGsap />
  <main
    class="bg-dark-primary flex min-h-screen flex-col justify-center p-2 pl-4 sm:pl-16"
  >
    <div class="flex w-full grow flex-col justify-center">
      <p class="text-tertiary text-base/8 font-semibold">404</p>
      <h1 class="text-primary my-2 text-6xl font-semibold tracking-tight">
        Page not found
      </h1>
      <p
        class="text-secondary text-lg font-medium tracking-widest text-pretty uppercase"
      >
        Sorry, we couldn’t find the page you’re looking for.
      </p>
      <div class="mt-10">
        <div>
          <a
            href={Astro.site}
            class="text-primary text-sm/7 font-semibold"
            ><span aria-hidden="true">&larr;</span> Back to home</a
          >
        </div>
        <a
          href="/blog"
          class="text-primary text-sm/7 font-semibold"
          ><span aria-hidden="true">📖</span> Read the blog</a
        >
      </div>
    </div>

    <Logo
      style="width: 5rem; height: 5rem"
      id="brm-logo"
      class="invisible place-self-center justify-self-end"
    />
  </main>
</BaseLayout>
