---
import { Icon } from 'astro-icon/components';

import LogoBuildGsap from '@components/common/LogoBuildGsap.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout>
  <LogoBuildGsap />
  <main
    class="bg-dark-primary flex min-h-screen flex-col justify-center p-2 pl-4 sm:pl-16"
  >
    <div class="flex w-full grow flex-col justify-center">
      <p class="text-tertiary text-base/8 font-semibold">404</p>
      <h1
        class="text-primary my-2 text-4xl font-semibold tracking-tight sm:text-6xl md:text-7xl"
      >
        Page not found
      </h1>
      <p
        class="text-secondary text-sm font-medium tracking-widest text-pretty uppercase sm:text-base md:text-lg"
      >
        Sorry, we couldn’t find the page you’re looking for.
      </p>
      <div class="mt-10">
        <a
          href={Astro.site}
          class="text-primary text-sm/7 font-semibold"
          ><span aria-hidden="true">&larr;</span> Back to home</a
        >
      </div>
    </div>

    <Icon
      name="logos/logo"
      id="logo"
      class="invisible size-[4rem] place-self-center justify-self-end sm:size-[6rem]"
    />
  </main>
</BaseLayout>
