---
import { Icon } from 'astro-icon/components';

import LandingGsap from '@components/landing/LandingGsap.astro';
import LandingGsapBox from '@components/landing/LandingGsapBox.astro';
import LandingProgressBar from '@components/landing/LandingProgressBar.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout>
  <LandingGsap />
  <div
    id="loading-icon"
    class="fixed -z-50 flex h-screen w-full items-center justify-center"
  >
    <span class="animate-pulse">
      <Icon
        name="mdi:loading"
        class="size-16 animate-spin"
      />
    </span>
  </div>
  <main
    id="landing-container"
    class="invisible"
  >
    <LandingProgressBar />
    <div
      class="background-colorable fixed -z-50 h-screen w-full"
      id="landing-background"
    >
    </div>
    <div id="smooth-wrapper">
      <div id="smooth-content">
        <LandingGsapBox id="gsapBoxHero">
          <div class="text-center">
            <h1
              id="hero-title"
              class="invisible text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl"
              data-speed="clamp(2)"
            >
              Hello, I'm Benjamin!
            </h1>
            <p
              id="hero-subtitle"
              class="invisible my-4 text-xl font-medium tracking-widest text-pretty text-gray-500 uppercase sm:text-3xl"
              data-speed="clamp(1.75)"
            >
              Full-stack engineer &amp; engineering leader
            </p>
            <!--<LandingProgressBar />-->
          </div>
        </LandingGsapBox>

        <LandingGsapBox
          id="gsapBoxResume"
          linkId="resume"
        >
          <div class="text-center">
            <h1
              class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl"
            >
              Resume
            </h1>
            <p
              class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
            >
              I'm going to put my resume here
            </p>
          </div>
        </LandingGsapBox>

        <LandingGsapBox
          id="gsapBoxAbout"
          linkId="about"
        >
          <div class="text-center">
            <h1
              class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl"
            >
              About
            </h1>
            <p
              class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
            >
              I'm going to talk about me here
            </p>
          </div>
        </LandingGsapBox>

        <LandingGsapBox
          id="gsapBoxSkills"
          linkId="skills"
        >
          <div class="text-center">
            <h1
              class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl"
            >
              Skills
            </h1>
            <p
              class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
            >
              I'm going to talk about what I know here
            </p>
          </div>
        </LandingGsapBox>

        <LandingGsapBox
          id="gsapBoxExperience"
          linkId="experience"
        >
          <div class="text-center">
            <h1
              class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl"
            >
              Experience
            </h1>
            <p
              class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
            >
              I'm going to talk about what I've done here
            </p>
          </div>
        </LandingGsapBox>

        <LandingGsapBox
          id="gsapBoxProjects"
          linkId="projects"
        >
          <div class="text-center">
            <h1
              class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl"
            >
              Projects
            </h1>
            <p
              class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
            >
              I'm going to talk more about what I've done here
            </p>
          </div>
        </LandingGsapBox>

        <LandingGsapBox
          id="gsapBoxContact"
          linkId="contact"
        >
          <div class="text-center">
            <h1
              class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl"
            >
              Contact
            </h1>
            <p
              class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
            >
              I'm going to talk about how you can talk to me here
            </p>
          </div>
        </LandingGsapBox>
      </div>
    </div>
  </main>
</BaseLayout>
