---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout metadata={{
  title: 'Blog | Benjamin Matthews',
  description: 'My little slice of the interwebs where I talk about my current ADHD obsession (or something like that...)',
  site: Astro.request.url,
}}>
  <header></header>
  <main></main>
  <footer></footer>
</BaseLayout>
