---
import { Icon } from 'astro-icon/components';

import Logo from '@assets/logos/logo-dual-theme.svg';
import Header from '@components/ui/Header.astro';
import ThemeToggle from '@components/ui/ThemeToggle.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout
  backgroundClass="bg-primary dark:bg-dark-primary blog-root"
  metadata={{
    title: 'Blog | Benjamin Matthews',
    description:
      'My little slice of the interwebs where I talk about my current ADHD obsession (or something like that...)',
    site: Astro.request.url,
  }}
>
  <Header />
  <main>
    <h1>Blog</h1>
  </main>
  <footer></footer>
</BaseLayout>
