---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

import LandingGsapBox from '@components/landing/LandingGsapBox.astro';
import LandingProgressBar from '@components/landing/LandingProgressBar.astro';
import GsapSmoothScroll from '@components/ui/GsapSmoothScroll.astro';
import LandingLayout from '@layouts/LandingLayout.astro';

import space1 from '../images/space/space1.jpg';
---

<LandingLayout>
  <LandingProgressBar />

  <div
    class="background-colorable fixed -z-50 h-screen w-full"
    id="landing-background"
  >
  </div>

  <GsapSmoothScroll>
    <div
      class="absolute top-0 -z-10 h-[120svh] w-full overflow-hidden"
      data-speed="clamp(.1)"
    >
      <Image
        src={space1}
        alt=""
        class="h-full w-full max-w-none object-cover object-bottom"
      />
    </div>

    <LandingGsapBox
      id="gsapBoxHero"
      classes="bg-dark-primary flex-col overflow-visible"
    >
      <div class="flex grow flex-col justify-center text-center">
        <h1
          id="hero-title"
          class="text-primary invisible text-5xl font-semibold tracking-tight sm:text-7xl"
          data-speed="clamp(-.1)"
        >
          Hello, I'm Benjamin!
        </h1>
        <p
          id="hero-subtitle"
          class="text-secondary invisible my-4 text-xl font-medium tracking-widest text-pretty uppercase sm:text-3xl"
          data-speed="clamp(-.1)"
        >
          Full-stack engineer &amp; engineering leader
        </p>
      </div>

      <div data-speed="clamp(.75)">
        <Icon
          name="logos/logo"
          width="6rem"
          height="6rem"
          id="hero-logo"
          class="invisible mb-[4rem]"
        />
      </div>
    </LandingGsapBox>

    <div class="bg-dark-primary relative -top-4 -z-10 pt-4 pb-8">
      <Icon
        name="space/rocketflame"
        width="8rem"
        height="8rem"
        class="place-self-center"
      />
    </div>

    <div class="background-transparent relative -top-8 h-[100dvh]">
      <div class="grid grid-cols-2">
        <span class="overflow-hidden">
          <Icon
            name="space/rockettrail-left-16_9"
            color="var(--color-dark-primary)"
            class="h-auto w-[50svw]"
          />
        </span>

        <span class="overflow-hidden">
          <Icon
            name="space/rockettrail-right-16_9"
            color="var(--color-dark-primary)"
            class="h-auto w-[50svw]"
          />
        </span>
      </div>
    </div>

    <LandingGsapBox
      id="gsapBoxResume"
      linkId="resume"
      classes=""
    >
      <div class="text-center">
        <h1
          class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl"
        >
          Resume
        </h1>
        <p
          class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
        >
          I'm going to put my resume here
        </p>
      </div>
    </LandingGsapBox>

    <LandingGsapBox
      id="gsapBoxAbout"
      linkId="about"
      classes=""
    >
      <div class="text-center">
        <h1
          class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl"
        >
          About
        </h1>
        <p
          class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
        >
          I'm going to talk about me here
        </p>
      </div>
    </LandingGsapBox>

    <LandingGsapBox
      id="gsapBoxSkills"
      linkId="skills"
      classes=""
    >
      <div class="text-center">
        <h1
          class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl"
        >
          Skills
        </h1>
        <p
          class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
        >
          I'm going to talk about what I know here
        </p>
      </div>
    </LandingGsapBox>

    <LandingGsapBox
      id="gsapBoxExperience"
      linkId="experience"
      classes=""
    >
      <div class="text-center">
        <h1
          class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl"
        >
          Experience
        </h1>
        <p
          class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
        >
          I'm going to talk about what I've done here
        </p>
      </div>
    </LandingGsapBox>

    <LandingGsapBox
      id="gsapBoxProjects"
      linkId="projects"
      classes=""
    >
      <div class="text-center">
        <h1
          class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl"
        >
          Projects
        </h1>
        <p
          class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
        >
          I'm going to talk more about what I've done here
        </p>
      </div>
    </LandingGsapBox>

    <LandingGsapBox
      id="gsapBoxContact"
      linkId="contact"
      classes=""
    >
      <div class="text-center">
        <h1
          class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl"
        >
          Contact
        </h1>
        <p
          class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
        >
          I'm going to talk about how you can talk to me here
        </p>
      </div>
    </LandingGsapBox>
  </GsapSmoothScroll>
</LandingLayout>
