---
import ThemeToggle from '../components/ui/ThemeToggle.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <ThemeToggle />

  <h1>Header</h1>
  <hr />

  <h1>Hero</h1>
  <hr />

  <h1>Skills</h1>
  <hr />
  <h1>Experience</h1>
  <hr />
  <h1>Resume</h1>
  <hr />
  <h1>Contact</h1>
  <hr />
  <h1>Footer</h1>
  <hr />
</BaseLayout>
