---
import Features from '~/components/Features.astro';
import Footer from '~/components/Footer.astro';
import Header from '~/components/Header.astro';
import Intro from '~/components/Intro.astro';
import Showcase from '~/components/Showcase.astro';
import Skills from '~/components/Skills.astro';
import Splash from '~/components/Splash.astro';
import Layout from '~/layouts/Layout.astro';
---

<Layout>
  <Header />
  <Splash />
  <div class="space-y-24 px-8 py-32">
    <Intro />
    <Skills />
    <Features />
    <Showcase />
  </div>
  <Footer />
  <!--  some call to action here / contact-->
</Layout>
