---
import { Icon } from 'astro-icon/components';

import Footer from '@components/ui/Footer.astro';
import Header from '@components/ui/Header.astro';
import ThemeToggle from '@components/ui/ThemeToggle.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout>
  <Header />

  <!--begin hero-->
  <div class="hero bg-base-200 min-h-screen">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Hello there,</h1>
        <h1 class="text-5xl font-bold">I'm Benjamin!</h1>
        <p class="hidden">General Kenobi...</p>
        <p class="py-6">
          I am a full-stack engineer and engineering leader with over a decade
          of experience. Come see what I've been up to!
        </p>
        <button class="btn btn-primary">Learn More</button>
        <a
          class="btn btn-primary"
          href="/assets/resume-2025.pdf"
          target="_blank"
          >My Resume</a
        >
      </div>
    </div>
  </div>
  <!--end hero-->

  <!--begin experience-->
  <section>
    <h2>Skills</h2>
  </section>
  <!--end experience-->

  <!--begin experience-->
  <section>
    <h2>Experience</h2>
  </section>
  <!--end experience-->

  <!--begin contact-->
  <section>
    <h2>Contact</h2>
  </section>
  <!--end contact-->

  <Footer />
</BaseLayout>
