---
import { Image } from 'astro:assets';

import LandingGsapBox from '@components/landing/LandingGsapBox.astro';
import GsapSmoothScroll from '@components/ui/GsapSmoothScroll.astro';
import Space1 from '@images/space/space1.jpg';
import LandingLayout from '@layouts/LandingLayout.astro';

import LandingHero from '../components/landing/LandingHero.astro';
---

<LandingLayout>
  <div
    class="background-colorable fixed -z-50 h-screen w-full"
    id="landing-background"
  >
  </div>

  <GsapSmoothScroll>
    <div
      class="absolute top-0 -z-40 h-[120svh] w-full overflow-hidden"
      data-speed="clamp(.1)"
    >
      <Image
        src={Space1}
        alt=""
        class="h-full w-full max-w-none object-cover object-bottom"
        decoding="sync"
        loading="eager"
      />
    </div>

    <LandingHero />

    <LandingGsapBox
      id="gsapBoxResume"
      linkId="resume"
      classes=""
    >
      <div class="text-center">
        <h1
          class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl"
        >
          Resume
        </h1>
        <p
          class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
        >
          I'm going to put my resume here
        </p>
      </div>
    </LandingGsapBox>

    <LandingGsapBox
      id="gsapBoxAbout"
      linkId="about"
      classes=""
    >
      <div class="text-center">
        <h1
          class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl"
        >
          About
        </h1>
        <p
          class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
        >
          I'm going to talk about me here
        </p>
      </div>
    </LandingGsapBox>

    <LandingGsapBox
      id="gsapBoxSkills"
      linkId="skills"
      classes=""
    >
      <div class="text-center">
        <h1
          class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl"
        >
          Skills
        </h1>
        <p
          class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
        >
          I'm going to talk about what I know here
        </p>
      </div>
    </LandingGsapBox>

    <LandingGsapBox
      id="gsapBoxExperience"
      linkId="experience"
      classes=""
    >
      <div class="text-center">
        <h1
          class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl"
        >
          Experience
        </h1>
        <p
          class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
        >
          I'm going to talk about what I've done here
        </p>
      </div>
    </LandingGsapBox>

    <LandingGsapBox
      id="gsapBoxProjects"
      linkId="projects"
      classes=""
    >
      <div class="text-center">
        <h1
          class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl"
        >
          Projects
        </h1>
        <p
          class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
        >
          I'm going to talk more about what I've done here
        </p>
      </div>
    </LandingGsapBox>

    <LandingGsapBox
      id="gsapBoxContact"
      linkId="contact"
      classes=""
    >
      <div class="text-center">
        <h1
          class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl"
        >
          Contact
        </h1>
        <p
          class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
        >
          I'm going to talk about how you can talk to me here
        </p>
      </div>
    </LandingGsapBox>
  </GsapSmoothScroll>
</LandingLayout>
