---
import LandingGsapBox from '@components/landing/LandingGsapBox.astro';
import BaseLayout from "../layouts/BaseLayout.astro";
import About from "@images/about.svg";
import {Icon} from "astro-icon/components";
---

<BaseLayout>
    <LandingGsapBox
      id="gsapBoxAbout"
      linkId="about"
      classes="py-8 max-h-[100svh]"
    >
      <div id="about-container" class="m-1 w-full flex flex-col items-center justify-center">
        <div id="about-titles" class="text-center">
          <h1
            id="about-title"
            class="text-primary text-5xl font-semibold tracking-tight sm:text-7xl"
          >
            About Me
          </h1>
          <p
            id="about-subtitle"
            class="text-secondary my-4 text-xl font-medium tracking-widest text-balance uppercase sm:text-3xl"
          >
            My Passions, Past, and Projects
          </p>
        </div>

        <div id="about-content" class="w-full transition-all duration-500 mb-16 flex justify-center">
          <div id="about-content-about" class="flex items-center justify-center flex-col hidden">
            <p class="prose text-balance text-primary text-center mb-4">
              I have been been a software engineer for well over a decade. My passion is working with PHP&mdash;specifically the TALL stack (Tailwind, Alpine.js, Laravel, Livewire)... however, I love working in all aspects of the codebase and SDLC.
            </p>
            <p class="prose text-balance text-primary text-center">
              I am as comfortable working in the cloud as I am slinging code; few things excite me more than learning something new!
            </p>
          </div>

          <div id="about-content-passions" class="grid gap-2 grid-cols-2 sm:gap-4 sm:grid-cols-3 mt-8">
            <div class="about-content-passions-card">
              <p>Backend</p>
              <div>
                <span>
                  <Icon
                    name="mdi:about"
                  />
                </span>
                <span>
                  <Icon
                    name="mdi:about"
                  />
                </span>
                <span>
                  <Icon
                    name="mdi:about"
                  />
                </span>
              </div>
              <!--php-->
              <!--javascript-->
              <!--typescript-->
            </div>
            <div class="about-content-passions-card">
              <p>Frontend</p>
              <div>
                <span>
                  <Icon
                    name="mdi:about"
                  />
                </span>
                <span>
                  <Icon
                    name="mdi:about"
                  />
                </span>
                <span>
                  <Icon
                    name="mdi:about"
                  />
                </span>
              </div>
              <!--Frontend-->
              <!-- - react-->
              <!-- - vue-->
              <!-- - tailwind-->
            </div>
            <div class="about-content-passions-card">
              <p>Frameworks</p>
              <div>
                <span>
                  <Icon
                    name="mdi:about"
                  />
                </span>
                <span>
                  <Icon
                    name="mdi:about"
                  />
                </span>
              </div>
              <!--Frameworks-->
              <!-- - laravel-->
              <!-- - astro-->
            </div>
            <div class="about-content-passions-card">
              <p>Data</p>
              <div>
                <span>
                  <Icon
                    name="mdi:about"
                  />
                </span>
                <span>
                  <Icon
                    name="mdi:about"
                  />
                </span>
                <span>
                  <Icon
                    name="mdi:about"
                  />
                </span>
              </div>
              <!--Data-->
              <!-- - mysql-->
              <!-- - mariadb-->
              <!-- - redis-->
            </div>
            <div class="about-content-passions-card">
              <p>Cloud</p>
              <div>
                <span>
                  <Icon
                    name="mdi:about"
                  />
                </span>
                <span>
                  <Icon
                    name="mdi:about"
                  />
                </span>
              </div>
              <!--Cloud-->
              <!-- - aws-->
              <!-- - digital ocean-->
            </div>
            <div class="about-content-passions-card">
              <p>Hobbyist</p>
              <div>
                <span>
                  <Icon
                    name="mdi:about"
                  />
                </span>
                <span>
                  <Icon
                    name="mdi:about"
                  />
                </span>
                <span>
                  <Icon
                    name="mdi:about"
                  />
                </span>
                <span>
                  <Icon
                    name="mdi:about"
                  />
                </span>
              </div>
              <!--Hobbyist-->
              <!-- - Go-->
              <!-- - Python-->
              <!-- - Java-->
              <!-- - Swift-->
            </div>
          </div>

          <div id="about-content-past" class="flex items-center justify-center flex-col hidden">
            <p class="prose text-balance text-primary text-center mb-4">
              I have been been a software engineer for well over a decade. My passion is working with PHP&mdash;specifically the TALL stack (Tailwind, Alpine.js, Laravel, Livewire)... however, I love working in all aspects of the codebase and SDLC.
            </p>
            <p class="prose text-balance text-primary text-center">
              I am as comfortable working in the cloud as I am slinging code; few things excite me more than learning something new!
            </p>
          </div>

          <div id="about-content-projects" class="flex items-center justify-center flex-col hidden">
            <p class="prose text-balance text-primary text-center mb-4">
              I have been been a software engineer for well over a decade. My passion is working with PHP&mdash;specifically the TALL stack (Tailwind, Alpine.js, Laravel, Livewire)... however, I love working in all aspects of the codebase and SDLC.
            </p>
            <p class="prose text-balance text-primary text-center">
              I am as comfortable working in the cloud as I am slinging code; few things excite me more than learning something new!
            </p>
          </div>
        </div>

        <div id="about-svg-morph" class="sm:size-[5rem] size-16 text-tertiary justify-self-end">
          <About />
        </div>
      </div>
    </LandingGsapBox>
</BaseLayout>

<script>
  import {gsap} from 'gsap';
  import { MorphSVGPlugin } from 'gsap/MorphSVGPlugin';
  import {TextPlugin} from 'gsap/TextPlugin';

  gsap.registerPlugin(MorphSVGPlugin, TextPlugin);

  const tl = gsap.timeline();
  const tl2 = gsap.timeline();
  const tl3 = gsap.timeline();

  tl.to('#about-svg-about', {
    duration: 1,
    delay: 1,
    morphSVG: '#about-svg-passions',
  });

  tl.to('#about-svg-about', {
    duration: 1,
    delay: 1,
    morphSVG: '#about-svg-history',
  });

  tl.to('#about-svg-about', {
    duration: 1,
    delay: 1,
    morphSVG: '#about-svg-projects',
  });

  tl2.to('#about-subtitle', {
    duration:1,
    delay: 1,
    text: "Passions"
  });

  tl2.to('#about-subtitle', {
    duration:1,
    delay: 1,
    text: "Past Experience"
  });

  tl2.to('#about-subtitle', {
    duration:1,
    delay: 1,
    text: "Projects"
  });

  tl3.set('#about-content', {
    delay: 1,
    flexGrow: 1,
  });
</script>
