---
import '../styles/global.css';

import Favicons from '../components/common/Favicons.astro';
---

<html
  lang="en"
  class="scroll-smooth"
  data-theme="light"
>
  <head>
    <Favicons />

    <!--  Fonts-->
    <!--  Meta-->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />

    <!--  Title-->
  </head>
  <body class="min-h-screen">
    <slot />
  </body>
</html>
