---
import '@styles/global.css';

import type { Metadata as MetadataType } from 'src/env';

import Analytics from '@components/common/Analytics.astro';
import Favicons from '@components/common/Favicons.astro';
import Fonts from '@components/common/Fonts.astro';
import Metadata from '@components/common/Metadata.astro';
import ThemeInitialization from '@components/common/ThemeInitialization.astro';

export interface Props {
  metadata?: MetadataType;
  backgroundClass?: string;
}

const { metadata = {}, backgroundClass = '' } = Astro.props;
---

<html
  lang="en"
  class:list={['h-full', backgroundClass]}
>
  <head>
    <Favicons />
    <Fonts />
    <Metadata {...metadata} />
    <Analytics />
    <ThemeInitialization />
  </head>
  <body class="h-full">
    <slot />
  </body>
</html>
