---
import MetaData from "../../.archive/src/components/common/MetaData.astro";
import ThemeInitialization from "../../.archive/src/components/common/ThemeInitialization.astro";
import "../styles/global.css"
import Favicons from "../components/common/Favicons.astro";
---

<html lang="en">
<head>
  <!-- Favicons -->
  <Favicons />

  <!--  Fonts-->
  <!--  Meta-->
  <!--  Title-->
</head>
<body>
  <slot />
</body>
</html>
