---
import { Icon } from 'astro-icon/components';

import LandingGsap from '@components/landing/LandingGsap.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout>
  <LandingGsap />

  <div
    id="loading-icon"
    class="fixed -z-50 flex h-screen w-full items-center justify-center text-primary"
  >
    <span class="animate-pulse">
      <Icon
        name="mdi:loading"
        class="size-16 animate-spin"
      />
    </span>
  </div>

  <main
    id="landing-container"
    class="invisible max-w-screen overflow-hidden"
  >
    <slot />
  </main>
</BaseLayout>
