---
import '@fontsource-variable/inter';
import '~/styles/index.css';

import Favicons from '~/components/common/Favicons.astro';

import Metadata from '../components/common/Metadata.astro';
import SocialMedia from '../components/common/SocialMedia.astro';
import ThemeInitialization from '../components/common/ThemeInitialization.astro';

// const { site } = Astro;
// const image = new URL('social.jpg', site);
// const description =
//   "Hi! I'm Benjamin, and welcome to my corner of the web. Come learn about what I'm up to currently!";

const title = 'Benjamin R. Matthews';
---

<!doctype html>
<html
  lang="en"
  class="h-full motion-safe:scroll-smooth"
  data-theme="dark"
>
  <head>
    <title>{title}</title>

    <Metadata />
    <Favicons />
    <SocialMedia />
    <ThemeInitialization />
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <slot />
  </body>
</html>
