---
import type { UiContentSection } from '../../types/components-ui';

export interface Props extends UiContentSection {}

const { classes, id } = Astro.props;
---

<section
  id={id}
  class="p-8 sm:px-16"
  class:list={[classes]}
>
  <slot />
</section>
