---
import type { FooterLink } from '../../env';

import { Icon } from 'astro-icon/components';

const links: Array<FooterLink> = [
  {
    url: 'https://www.linkedin.com/in/benjaminrmatthews/',
    description: 'Benjamin Matthews LinkedIn',
    icon: 'mdi:linkedin',
    target: '_blank',
  },
  {
    url: 'https://github.com/bmatt468',
    description: 'Benjamin Matthews GitHub',
    icon: 'mdi:github',
    target: '_blank',
  },
  // {
  //   url: '/blog',
  //   description: 'Benjamin Matthews Blog',
  //   icon: 'mdi:blog',
  //   target: '_self',
  // },
  {
    url: 'https://www.highiron.co',
    description: 'High Iron',
    icon: 'mdi:external-link',
    target: '_blank',
  },
];
---

<footer
  class="bg-neutral text-neutral-content flex flex-col items-center justify-center md:flex-row p-8 md:p-4 gap-4"
>
  <aside class="flex-auto flex items-center gap-x-2">
    <Icon
      name="logos/logo"
      class="size-14 md:size-10"
    />
    <p class="text-sm leading-none hidden md:block">
      Copyright &copy; {new Date().getFullYear()} Benjamin R. Matthews - All rights reserved
    </p>
  </aside>

  <nav class="flex items-center justify-center md:justify-end gap-2">
    {
      links.map((link) => (
        <a
          href={link.url}
          target={link.target}
        >
          <span class="sr-only">{link.description}</span>
          <Icon
            class="size-8"
            name={link.icon}
          />
        </a>
      ))
    }
  </nav>
  <p class="text-center flex-auto text-pretty text-xs md:hidden">
    Copyright &copy; {new Date().getFullYear()} Benjamin R. Matthews<br/>All rights reserved
  </p>
</footer>
