---
import { Icon } from 'astro-icon/components';

import Logo from '@assets/logos/logo-dual-theme.svg';
import ThemeToggle from '@components/ui/ThemeToggle.astro';
---

<header
  class="bg-blog-header dark:bg-blog-header-dark border-b-primary flex items-center justify-center border-b-1 px-5 py-3 sm:px-8 sm:py-5"
>
  <div class="aspect-4/3 w-12 text-left">
    <a href="/blog">
      <Logo />
    </a>
  </div>

  <nav
    class="xs:mx-8 invisible col-span-2 mx-4 flex grow items-center justify-start gap-6 text-sm sm:gap-12"
  >
    <a
      href="#"
      class="inline-flex items-center justify-center gap-2"
    >
      <Icon
        name="mdi:home"
        class="xs:size-4 size-8"
      />
      <span class="xs:inline hidden">Home</span>
    </a>
    <a
      href="#"
      class="inline-flex items-center justify-center gap-2"
    >
      <Icon
        name="mdi:tags"
        class="xs:size-4 size-8"
      />
      <span class="xs:inline hidden">Tags</span>
    </a>
    <a
      href="#"
      class="inline-flex items-center justify-center gap-2"
    >
      <Icon
        name="mdi:recent"
        class="xs:size-4 size-8"
      />
      <span class="xs:inline hidden">Tags</span>
    </a>
  </nav>

  <div class="text-right">
    <ThemeToggle />
  </div>
</header>
