---
import { Icon } from 'astro-icon/components';

import ThemeToggle from '@components/ui/ThemeToggle.astro';
---

<header class="t-0 fixed w-full bg-white dark:bg-neutral-800 z-50">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a
        href="#"
        class="-m-1.5 p-1.5"
      >
        <span class="sr-only">Benjamin Matthews</span>
        <Icon
          name="logos/logo"
          class="size-10"
        />
      </a>
    </div>

    <div class="flex flex-1 justify-end">
      <ThemeToggle />
    </div>
  </nav>
</header>
