---
import { Icon } from 'astro-icon/components';

import ThemeToggle from '@components/ui/ThemeToggle.astro';
---

<header
  id="page-header"
  class="navbar landing-header border-base-200 fixed z-50 border-b-1 p-4"
>
  <div class="navbar-start">
    <Icon
      name="logos/logo"
      class="size-10"
    />
  </div>
  <div class="navbar-end">
    <ThemeToggle />
  </div>
</header>

<script>
  const header = document.querySelector('#page-header') as HTMLElement;
  const page = document.documentElement;

  document.addEventListener('scroll', () => {
    const d = page.scrollTop - header.offsetHeight;
    console.log(d);
    header.classList.toggle('fixed-header', d > 0);
  });
</script>
